*{
	font-size: 4vh;
}
body{
	background-color: silver;
}

section{
	width:80%;
	margin:0 10% 0% 10%; 
}
header{
	width:80%;
	margin:0 10% 0 10%;
	background-color: silver;
	border-bottom: 2px solid black;
	padding-bottom: 1%;
}
header div{
	padding-top: 3vh;
	width:80%;
	margin: 0 auto;
	text-align: center;
}
footer{
	width:80%;
	margin:2% 10% 0 10%;
	background-color: silver;
	border-top: 2px solid black;
}
footer div{
	width:17%;
	float:left;
	margin: 0 auto;
	text-align: center;
	padding-left: 3vh;
}
footer div button{
	font-size: 3vh;
	
}
.error{
	color: red;
}
.sort{
	width:80%;
	margin:0 10% 2% 10%;
	text-align: center;
	border-bottom: 2px solid black;
}
.dateIn{
	width: 25vh;
}
.checked{
	text-decoration: line-through;
	background-color: rgba(0,0,0,0.7);
}
.check{
	cursor: pointer;
	height: 5vh;
  	width: 5vh;
}
.del{
	float: right;
}
.date{
	text-align: center;
}